@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.roll-window-image {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.attack-results-container {
    display: flex;
    flex-direction: column;
    min-height: 15em;
}

.attack-die-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
}

.attack-die {
    position: relative;
}

.attack-die-value {
    font-family: "Press Start 2P";
    font-size: large;
    z-index: 1;
    text-align: center;
    top: 15px;
    width: 100%;
    position: absolute;
}

.roll-window-attack-die {
    position: relative;
    animation: spin 5s infinite linear;
}

.attack-die-total {
    text-align: center;
    font-size: xx-large;
    font-family: "Press Start 2P";
    min-height: 2em;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-window-damage {
    width: 100%;
    font-family: "Press Start 2P";
    text-align: center;
    min-height: 2em;
}

.roll-window-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.roll-window-button {
    padding: 0px 5px;
    font-weight: 700;
}
