@keyframes magicModifier {
    0% {
        color: #f68187;
    }

    25% {
        color: #99e65f;
    }

    50% {
        color: #ffeb57;
    }

    100% {
        color: #0cf1ff;
    }
}

.card-display {
    padding: 15px;
}

.item-card {
    justify-content: center;
    align-items: baseline;
    position: relative;
    display: flex;
    z-index: 1;
    transition: 0.3s;
    animation-delay: 0.1s;
    animation-timing-function: ease-out;
    filter: drop-shadow(0 0 6px rgb(0, 0, 0));
}

.item-card:hover {
    filter: drop-shadow(0 0 6px rgb(255, 235, 87));
}

.card-title {
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: none;
    display: inline-flex;
    align-items: center;
    font-family: "Open Sans";
    font-weight: normal;
}

.card-info {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 95%;
    color: white;
    overflow-y: hidden;
    align-items: center;
    flex-wrap: wrap;
}

.card-item-image {
    position: absolute;
    z-index: 5;
}

.card-details-button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    z-index: 6;
    box-shadow: 0px 0px 0px 0px transparent;
}

.card-details-button:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
}

.card-icons {
    position: absolute;
    z-index: 7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-actions {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-icon {
    background-image: radial-gradient(circle farthest-side,
            rgb(19, 19, 19),
            rgb(19, 19, 19),
            rgb(19, 19, 19),
            transparent);
    border-radius: 16px;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75%;
    min-width: 75%;
    
    font-weight: bold;

    margin: 5px;
    padding: 5px;
    position: relative;
}

.card-button-icon {
    position: absolute;
    z-index: 3;
}

.card-button-name {
    height: 100%;
    width: 80%;
    text-align: left;
    align-self: center;
    z-index: 2;
}

.card-button-stats-container {
    position: absolute;
    width: 110%;
    font-family: "Press Start 2P";
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-button-stat {
    border-radius: 16px;
    padding: 8px;
    font-size: larger;
    box-shadow: 1px 1px 1px rgb(19, 19, 19);
    z-index: 4;
    text-shadow: 0 0 5px rgb(19, 19, 19);
}

.card-cost-display {
    font-family: "Press Start 2P";
    text-shadow: 2px 2px 1px rgb(19, 19, 19);
}

.card-magic-bonus {
    animation-name: magicModifier;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

    position: absolute;
    font-size: larger;
    background-image: radial-gradient(circle farthest-side,
        rgb(19, 19, 19),
        rgb(19, 19, 19),
        rgb(19, 19, 19),
        transparent);

    font-weight: 800;

    text-shadow:
    0px -1px 0 rgb(19, 19, 19),
    1px 0px 0 rgb(19, 19, 19),
    0px 1px 0 rgb(19, 19, 19),
    -1px 0px 0 rgb(19, 19, 19),
    0px -2px 0 rgb(19, 19, 19),
    2px 0px 0 rgb(19, 19, 19),
    0px 2px 0 rgb(19, 19, 19),
    -2px 0px 0 rgb(19, 19, 19);
}
