.CharacterCreator {
    background: darkturquoise;
    top:0;
}

.LeftSplit {
    background: darkslategray;
    height: 100%;
    padding-top: 0%;
    top: 0;
    left: 0;
    height: 100vh;
    color: whitesmoke;
}

.RightSplit {
    background: whitesmoke;
    height: 100%;
    top: 0;
    padding-top: 0%;
    right: 0;
    height: 100vh;
}

Canvas {
    border: 1px solid black;
}