/* Character Info Container */
.character-info-container {
    background-color: #131313;
    border-radius: 5px;
    padding: 10px 10px;
}

.character-info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: baseline;
}

.character-info-name {
    position: relative;
}

/* Character Money */
.character-money-display {
    display: flex;
    flex-direction: row;

    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Chrome */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
}

.money-column {
    padding: 0px 5px;
    text-align: center;
}

.money-icon {
    position: relative;
    top: -2px;
    padding-right: 3px;
}

.character-money-add {
    background-color: #0e071b;
    border-radius: 50%;
    box-shadow: none;
    border-color: #424c6e;
}

/* Money Adjustment Window */
.money-adjustment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.money-adjustment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
    .character-info-container {
        flex-direction: column;
        justify-content: center;
    }
    .character-money-display {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
