.character-money-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.money-column {
    padding: 0px 5px;
    text-align: center;
}

.money-icon {
    position: relative;
    top: -2px;
    padding-right: 3px;
}

.character-money-add {
    background-color: #0e071b;
    border-radius: 50%;
    box-shadow: none;
    border-color: #424c6e;
}
