.inventory-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

.nav-item {
    font-family: "Press Start 2P";
    color: white;
    text-shadow: #131313;
}

.inventory-tab-icon {
    padding-right: 5px;
}

.inventory-tabs-container {
    height: 100%;
    flex-grow: 1;
}

.inventory-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}