.character-image {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 24px;
    height: 100%;
    max-height: 100%;
}

.character-drawing-area {
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-style: italic;
    align-items: center;
}

.character-image-download {
    margin: 20px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-family: "Press Start 2P";
    padding: 7px 0px;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
    flex-shrink: 0;
    top: 40px;
}

.part-selector {
    flex-grow: 1;
    padding: 24px;
    overflow-y: scroll;
}

.part-button {
    margin: 8px;
    border-radius: 8px;
}

.part-character-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn {
    background-color: rgb(14, 7, 27);
    border-color: transparent;
    font-size: larger;
    font-family: "Press Start 2P";
    box-shadow: 2px 2px 2px 1px rgb(19, 19, 19);
    height: 48px;
}

.btn:hover {
    background-color: rgb(26, 25, 50);
    border-color: transparent;
}

.dropdown-menu {
    background-color: rgb(26, 25, 50);
}

.dropdown-item {
    background-color: rgb(26, 25, 50);
    font-size: large;
    color: white;
}

@media (max-width: 600px) {
    .character-image {
        flex-direction: column;
    }
}