html,
body {
    height: 100%;
    background: #121212;
    font-family: "Open Sans";
}

.login-container {
    min-width: 25%;
    min-height: 25%;
    background: rgb(31, 31, 31);
    color: white;
    border-radius: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

@media screen and (min-width: 1280px) {
    .login-container {
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 1279px) {
    .login-container {
        min-width: 95%;
        max-width: 95%;
    }
}

.login-button-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.login-header {
    width: 100%;
}

.login-button {
    background: rgb(39, 39, 39);
    box-shadow: 2px 2px 2px 1px rgb(19, 19, 19);
    border: none;
    border-radius: 6px;
    font-size: large;
    color: #fff;
    font-family: "Press Start 2P";
    padding: 5px 15px;
    margin: 10px 5px;
    display: block;
}

.login-error-messages {
    max-width: 100%;
    font-weight: bold;
    color: rgb(234, 50, 60);
}

.login-form {
    width: 100%;
    text-align: center;
    display: inline-block;
}

