.shop-page {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.ItemShop {
    height: 100%;
    width: 100%;
    text-align: center;
}

.bazaar-area {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.shop-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.shop-rug {
    border-image-slice: 32 fill;
    border-image-width: 32px;
    border-image-outset: 32px;
    border-image-repeat: repeat;
    margin: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
