.shop-page {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.ItemShop {
    height: 100%;
    width: 100%;
    text-align: center;
}

.bazaar-area {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.shop-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.shop-rug {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
    border: 64px solid transparent;
    border-image-slice: 256 fill;
    border-image-repeat: repeat;
    border-image-width: 128px;
    border-image-outset: 64px 64px;
}
