.inventory-container {
    width: 90%;
    height: 90%;
    border-image-source: url('/images/Item_Shop/Inventory/InventoryBorder.png');
    border-image-slice: 32 fill;
    border-image-width: 32px;
    border-image-outset: 32px;
    border-image-repeat: repeat;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

.inventory-title-underlined {
    border-image-source: url('/images/Item_Shop/Inventory/InventoryTitleUnderline.png');
    border-image-slice: 32;
    border-image-width: 32px;
    border-image-outset: 32px;
    border-image-repeat: repeat;
    display: inline-block;
}

.inventory-title-container {
    width: 100%;
    text-align: center;
    margin: 16px 0 32px 0;
}

.inventory-card-container-title {
    text-orientation: upright;
    writing-mode: sideways-lr;
    font-family: "Press Start 2P";
    color: #FFF;
    width: 2em;
    text-align: left;
}

.inventory-card-container {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: rgb(42, 47, 78);
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    box-shadow: 2px 2px 2px 1px rgb(19, 19, 19);
}

.inventory-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}