.ItemShop {
    flex: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: #121212;
}

.item-layer {
    padding: 8px 16px;
}

.bazaar-area {
    display: flex;
    justify-content: center;
}

.green-rug {
    border-image: url("/images/Item_Shop/Items/Rings/rug.png");
}

.red-rug {
    border-image: url("/images/Item_Shop/Items/Rings/redrug.png");
}

.shop-rug {
    border-image-slice: 32 fill;
    border-image-width: 32px;
    border-image-outset: 32px;
    border-image-repeat: repeat;
    margin: 64px;
    max-width: 20%;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
@keyframes float {
    0% {
        transform: translateY(-16px);
        filter: drop-shadow(0px 12px 4px rgba(0, 0, 0, 0.8));
    }

    100% {
        transform: translateY(0px);
        filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.8));
    }
}

.item-layer {
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}