h1, h2, h3, h4, h5, h6 {
    color: white;
}

.character-manager {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-image: url("/images/Backgrounds/CharacterSelectorBg.png");
}

.character-selector {
    flex-grow: 1;
    padding: 16px;
    background-color: rgba(19, 19, 19, 0.85);
    border-color: rgb(19, 19, 19);
    border-style: solid;
    border-radius: 5px;
    margin: 16px;
}

.character-selector-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.character-selector-name {
    background-color: #191919;
    padding: 16px;
    box-shadow: 0px 5px 5px 1px #131313;
}

.character-selection-button {
    height: 128px;
    border-radius: 5px;
    width: inherit;
    overflow: hidden;
}

.new-character-button {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    font-family: 'Press Start 2P';
    font-size: xx-large;
}

.character-selector-container {
    width: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
}

.character-selection-name {
    text-align: center;
    text-overflow: ellipsis;
    flex-grow: 0;
    padding-top: 8px;
    font-weight: 700;
}

.character-selection-button .character-canvas-container {
    flex-grow: 0;
    position: relative;
    top: -48px;
}

.character-status {
    padding: 16px;
    max-width: 512px;
    min-width: 512px;
}

.new-character-form {
    width: 100%;
    text-align: center;
    background-color: #1b1b1b;
}

.new-character-form-title {
    font-size: larger;
    color: white;
    font-weight: 700;
}

.new-character-form-field {
    width: 85%;
    margin: 16px;
    font-weight: 600;
}

.modal-content {
    background-color: #1b1b1b;
    color: white;
    font-weight: 700;
}

.cancel-new-character-button {
    background-color: #8e251d;
    font-family: "Press Start 2P";
}

.new-character-form-errors {
    color: #ea323c;
    text-align: center;
    margin: 5px;
}